@model Examen2_MVC.Models.persona




<div class="modal fade" id="modal_edit_persona">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Editar Persona</h4>
            </div>

            @using (Ajax.BeginForm("Edit", "Personas", new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "listar_persona",
                OnSuccess = "mensajeEditar('#modal_edit_persona')"
            }))
            {
                @Html.AntiForgeryToken()
            <div class="modal-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => Model.idpersona)
                @Html.HiddenFor(model => Model.idtipidocumento)


   
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.dni, htmlAttributes: new { @class = "control-label col-md-2" })

                                @Html.EditorFor(model => model.dni, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.dni, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                
                                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                               
                                    @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
                               
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.fechanacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                                
                                    @Html.EditorFor(model => model.fechanacimiento, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.fechanacimiento, "", new { @class = "text-danger" })
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                                
                                    @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
                                
                            </div>
                        </div>
                        <div class="col-lg-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.idtipidocumento, "idtipidocumento", htmlAttributes: new { @class = "control-label col-md-2" })
                              
                                    @Html.DropDownList("idtipidocumento", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.idtipidocumento, "", new { @class = "text-danger" })
                               
                            </div>
                        </div>
                    </div>
                    
           </div>

         

                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            }
        </div>
    </div>
</div>
